{% extends 'blog/base.html' %}
{% block title %} {{blogpost.title}} - Blog {% endblock %}
{% block content %}
<main>
    <h1>{{blogpost.title}}</h1>
    <p>{{blogpost.content}}</p>
    <p>by {{blogpost.author}}</p>
    <p>Posted on {{blogpost.created}}</p>
    {% if user == blogpost.author %}
    <a href="{% url 'editpost' blogpost.pk %}">Edit post</a>
    <a href="{% url 'deletepost' blogpost.pk %}">Delete post</a>
    {% endif %}
</main>
{% if user.is_authenticated %}
<form action="" method="POST">
    {% csrf_token %}
    <textarea required></textarea>
    <input type="submit" value="Comment" />
</form>
{% else %}
    <p>You must login to comment</p>
{% endif %}
<div>
    {% for comment in comments %}
    <div>
        <p>{{comment.author}} commented on {{comment.created}}:</p>
        <p>{{comment.content}}</p>
        {% if user == comment.author %}
        <a href="{% url 'deletecomment' blogpost.pk comment.pk %}">Delete comment</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}