{% extends 'blog/base.html' %}
{% block title %} Frontpage - Blog {% endblock %}
{% block content %}
<h1>Front page</h1>
<a href="{% url 'newpost'%}">Create new post</a>
<h2>Posts:</h2>
<form action="" method="GET">
    <label for="search">Search article:</label>
    <input type="text" name="search" id="search" />
    <input type="submit" value="Search" />
</form>
<ul>
    {% for post in posts %}
        <li>
            <ul>
                <li><a href="{% url 'postview' post.pk %}">{{post.title}}</a></li>
                <li>{{post.author}}</li>
                <li>{{post.created}}</li>
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}