{% extends 'blog/base.html' %}
{% block title %} Register - Blog {% endblock %}
{% block content %}
<form action="" method="POST" class="register">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="passwordcheck">Retype password:</label>
        <input type="password" id="passwordcheck" name="passwordcheck" required />
    </div>
    <input type="submit" value="Register" />
    {% if error %}
        {% for e in error %}
            <p class="error">{{ e }}</p>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}