{% extends 'blog/base.html' %}
{% block title %} Settings - Blog {% endblock %}
{% block content %}
<h1>Update password</h1>
<form method="post" id="updatepass">
    {% csrf_token %}
    <!--
    <label for="oldpassword">Old password:</label>
    <input type="password" required name="oldpassword" id="oldpassword"/>
    -->
    <label for="newpassword">New password:</label>
    <input type="password" required name="newpassword" id="newpassword"/>
    <input type="submit" value="Update"/>
    {% if msg %}
    <p class="msg">{{msg}}</p>
    {% endif%}
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif%}
</form>
{% endblock %}